$bg-color: #1e2021;
$bg-column: #181a1b;
$border-column: #3a3e41;
$header-color: rgb(200, 195, 188);

.header {
  display: flex;
  height: 36px;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 0px;
  margin-bottom: 16px;
  color: #c8c3bc;

}

.button {
  padding: 10px 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background: #0056b3;
  }
}


.column {
  flex: 1;
  background: $bg-column;
  background-color: $bg-column;
  border: 1px solid #ddd;
  border-color: $border-column;
  border-radius: 8px;
  padding: 20px;
  color: #c8c3bc;

  // flex: 0 0 (100% / 4);
  // flex: 0 0 ((100% - 60px) / 4);
  flex: 0 0 calc((100% - 60px) / 4);

  /* 4 равные колонки [web:21][web:24] */
  box-sizing: border-box;
  overflow-wrap: break-word;
  /* переносить длинное слово [web:12] */
  word-break: break-word;
  /* на всякий случай для старых браузеров [web:12] */

  h2 {
    // margin-bottom: 16px;
    font-size: 18px;
  }


}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  

  // input {
  //   padding: 8px 12px;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  //   font-size: 14px;

  //   &:focus {
  //     outline: none;
  //     border-color: #007bff;
  //   }
  // }
}