.header {
  display: flex;
  height: 36px;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 0px;
  margin-bottom: 16px;
}

.button {
    padding: 10px 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        background: #0056b3;
    }
}


.column {
  flex: 1;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;

  h2 {
    // margin-bottom: 16px;
    font-size: 18px;
    color: #333;
  }


}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  // input {
  //   padding: 8px 12px;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  //   font-size: 14px;

  //   &:focus {
  //     outline: none;
  //     border-color: #007bff;
  //   }
  // }
}