$bg-color-mark: rgb(27, 30, 31);
$border-color-mark: rgb(53, 57, 59);
$text-color-mark: rgb(178, 172, 162);

.pre {
  white-space: pre-wrap;
  /* сохраняет переводы строк, но позволяет переносить */
  word-wrap: break-word;
  /* старый синоним, на всякий случай */
  overflow-wrap: anywhere;
  /* агрессивные переносы длинных слов/URL */

  background: $bg-color-mark;
  color: $text-color-mark;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $border-color-mark;


}